{
		"parser": "babel-eslint",
		"env" : {
			"jest":true
		},
    "plugins": [
			"prettier",
    ],
		"rules": {
			"prettier/prettier": "error",
			"no-console": "off",
      "no-unused-vars" : "off",
      "prefer-reflect" : "error",
		},
		"globals":{
			"shallow":true,
			"render":true,
			"mount":true,
      "Reflect":true,
		},
		"extends": ["eslint:recommended", "plugin:react/recommended","prettier"]
}
