$primary:#FF5A5F;
$secondary: #00A699;
$warning:  #FC642D;
$disabled: #767676;
$grey:#939598;
$base-text-color:#58595B;

@function contrast-background-color($color) {
  @if (lightness($color) > 50) {
    @return $base-text-color;
  } @else {
    @return #ffffff;
  }
}

@function contrast-background-color($color) {
  @if (lightness($color) > 50) {
    @return $base-text-color;
  } @else {
    @return #ffffff;
  }
}

$primary-contrast-text: contrast-background-color($primary);
$secondary-contrast-text: contrast-background-color($secondary);
$warning-contrast-text: contrast-background-color($warning);

$primary-light: lighten($primary, 10%);
$secondary-light: lighten($secondary, 10%);
$warning-light: lighten($warning, 10%);

$primary-dark: darken($primary, 20%);
$secondary-dark: darken($secondary, 20%);
$warning-dark: darken($warning, 20%);

$content-font: "Courier", monospace;

$base-radius:3px;
$border-width:2px;

$base-shadow: 0px 0px 0px;