$azure: #1dace8;
$dark-slate-blue: #1c366b;
$tomato: #f24d29;
$beige: #e5c4a1;
$silver: #c4cfd0;
$white: #fff;
$black: #212529;
$grey: darken($silver,20%);

$base-text-color: $black;

$primary: $dark-slate-blue;
$secondary: $azure;
$warning: $tomato;
$disabled: $silver;

@function contrast-background-color($color) {
  @if (lightness($color) > 70) {
    @return $base-text-color;
  } @else {
    @return #ffffff;
  }
}

$primary-contrast-text: contrast-background-color($primary);
$secondary-contrast-text: contrast-background-color($secondary);
$warning-contrast-text: contrast-background-color($warning);

$primary-light: lighten($primary, 40%);
$secondary-light: lighten($secondary, 40%);
$warning-light: lighten($warning, 40%);

$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);
$warning-dark: darken($warning, 10%);

$font-mono: "Courier", monospace;
$font-sans: "Source Sans Pro", Arial, sans-serif;
$font-serif: "Bree Serif", Times, serif;

$title-font: $font-sans;
$content-font: $font-serif;

$base-font-size: 16px;
$footnote-font-size: 12px;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;

$small-line-height: 1.5em;
$base-line-height: 2.5em;
$large-line-height: 3.5em;

$small-margin: 0.5em;
$small-padding: 0 0.5em;
$base-padding: 0 1em;

$base-radius: 0px;


$border-width: 1px;

$base-shadow:1px 2px 2px $grey;

$input-min-width:120px;
